name: py3dep-tests
channels:
  - conda-forge
  - nodefaults
dependencies:
  # pygeoogc deps
  - aiodns
  - aiohttp
  - brotlipy
  - chardet
  - cytoolz
  - defusedxml
  - nest-asyncio
  - orjson
  - owslib
  - pyproj
  - requests
  - setuptools
  - shapely
  - simplejson

  # pygeoutils deps
  - geopandas
  - netCDF4
  - rasterio
  - xarray

  - pip
  - pip:
    - git+https://github.com/cheginit/pygeoogc.git
    - git+https://github.com/cheginit/pygeoutils.git
